<!-- Create your form here -->
<%= form_tag student_path do %>
  <label for="first_name">First Name</label>
  <%= text_field_tag :'first_name' %><br/>
  <label for="last_name">Last Name</label>
  <%= ext_field_tag :'last_name' %><br/>
  
  <%= submit_tag %>
<% end %>